/*Top Header Part*/
.logo i {
  color: #ffffff;
}
.navbar-header {
  background: #009eff;
}
.navbar-top-links > li > a {
  color: #ffffff;
}
.sidebar .sidebar-head {
  background: #009eff;
  color: white;
}
.sidebar .sidebar-head h3 {
  /*color: #686868;*/
}
/*Right panel*/
.right-sidebar .rpanel-title {
  background: #009eff;
}
/*Bread Crumb*/
.bg-title .breadcrumb .active {
  color: #009eff;
}


/*Sidebar*/
.sidebar {
  /*background: #fff;*/
  background-color: #fff;
  color: #3D4D66;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.sidebar .label-custom {
  background: #009eff;
}
ul#side-menu li{
  padding-top: 3px;
}
#side-menu li a {
  color: #54667a;
  border-left: 5px solid transparent;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus {
  color: #009eff;
  border-sizing: border-box;
  background-color: transparent;
}
#side-menu ul>li>a.active, #side-menu>li>a.active {
  color: #009fff;
  border-left-color: transparent !important;
}
#side-menu > li > a.active {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
  border-left-color:  transparent !important;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent;
}

#side-menu ul > li > a {
  color: #3D4D66;
  background-color: #fff;
}
#side-menu ul > li > a[href="#"]:focus ,
#side-menu ul > li > a[href="#"].active,
#side-menu ul > li > a:hover {
  color: #009eff;
  background-color: transparent;
}
#side-menu ul > li > a:focus ,
#side-menu ul > li > a.active
{
  background-color: #e6f7ff;
  border-right: 3px solid #1890ff;
}
#side-menu ul > li > a[href="#"]:focus ,
#side-menu ul > li > a[href="#"].active
{
  border-right: 3px solid transparent;
}
.user-profile .user-pro-body .u-dropdown {
  color: #54667a;
}
/*themecolor*/
.bg-theme {
  background-color: #009eff !important;
}
.bg-theme-dark {
  background-color: #009eff !important;
}
/*Button*/
.btn-custom {
  background: #009eff;
  border: 1px solid #009eff;
  color: #ffffff;
}
.btn-custom:hover {
  background: #009eff;
  opacity: 0.8;
  color: #ffffff;
  border: 1px solid #009eff;
}

/*Nav-pills*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: #009eff;
  color: #ffffff;
}

.top-left-part a{
  color:rgba(255,255,255,0.8) !important;
  text-decoration: none;
}
.top-left-part a:hover{
  color: #FFFFFF !important;
  text-decoration: none;
}
.sidebar .jp-frame-menu-btn {
  color: #3D4D66 !important;
  background-color: #fff !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}


/*===============================================================*/
/**bootstrapTreeTable样式**/
.bootstrap-treetable-checkbox span:hover::before, .bootstrap-treetable-radio span:hover::before {
  border: 1px solid #1f9eff;
}
.bootstrap-treetable-checkbox input:checked + span:before, .bootstrap-treetable-radio input:checked + span:before {
  border: 1px solid #1f9eff;
  background: #1f9eff;
}
.table-hover > tbody > tr:hover{
  background-color: #e6f7ff !important;
}
