

/*Just change your choise color here its theme Colors*/
body {
  background: #fff;
}
/*Top Header Part*/
.logo i {
  color: #ffffff;
}
.navbar-header {
  background: #F5222D;
}
.navbar-top-links > li > a {
  color: #ffffff;
}
.sidebar .sidebar-head {
  background: #F5222D;
  color: white;
}
.sidebar .sidebar-head h3 {
  /*color: #686868;*/
}
/*Right panel*/
.right-sidebar .rpanel-title {
  background: #F5222D;
}
/*Bread Crumb*/
.bg-title .breadcrumb .active {
  color: #F5222D;
}


/*Sidebar*/
.sidebar {
  /*background: #fff;*/
  background-color: #fff;
  color: #3D4D66;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.sidebar .label-custom {
  background: #F5222D;
}
#side-menu li a {
  color: #54667a;
  border-left: 0px solid #fff;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus {
  color: #F5222D;
  background-color: transparent;
}
#side-menu ul>li>a.active, #side-menu>li>a.active {
  color: #F5222D;
}
#side-menu > li > a.active {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-box-sizing:border-box; /* Safari */
}
#side-menu ul > li > a {
  color: #3D4D66;
  background-color: #fff;
}
#side-menu ul > li > a[href="#"]:focus ,
#side-menu ul > li > a[href="#"].active,
#side-menu ul > li > a:hover {
  color: #F5222D;
  background-color: transparent;
}
#side-menu ul > li > a:focus ,
#side-menu ul > li > a.active
{
  background-color: #ffeff0;
  border-right: 3px solid #F5222D;
}
#side-menu ul > li > a[href="#"]:focus ,
#side-menu ul > li > a[href="#"].active
{
  border-right: 3px solid transparent;
}
.user-profile .user-pro-body .u-dropdown {
  color: #54667a;
}
/*themecolor*/
.bg-theme {
  background-color: #F5222D !important;
}
.bg-theme-dark {
  background-color: #F5222D !important;
}
/*Button*/
.btn-custom {
  background: #F5222D;
  border: 1px solid #F5222D;
  color: #ffffff;
}
.btn-custom:hover {
  background: #F5222D;
  opacity: 0.8;
  color: #ffffff;
  border: 1px solid #F5222D;
}

/*Nav-pills*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: #F5222D;
  color: #ffffff;
}

.top-left-part a{
  color:rgba(255,255,255,0.8) !important;
  text-decoration: none;
}
.top-left-part a:hover{
  color: #FFFFFF !important;
  text-decoration: none;
}
.sidebar .jp-frame-menu-btn {
  color: #3D4D66 !important;
  background-color: #fff !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
/*===================================================*/

.jp-checkbox input[type=checkbox]:checked + label::before {
  background-color: #F5222D;
  border-color: #F5222D
}
.jp-click-animating-node, [jp-click-animating-without-extra-node]:after {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border-radius: inherit;
  border: 0 solid #F5222D;
  opacity: .4;
  -webkit-animation: waveEffect .4s cubic-bezier(.25, .8, .25, 1);
  animation: waveEffect .4s cubic-bezier(.25, .8, .25, 1);
  display: block;
}

.bootstrap-table-checkbox input:checked + span:before, .bootstrap-table-radio input:checked + span:before {
  content: '\f00c';
  font-family: FontAwesome;
  padding-left: 1px;
  line-height: 15px;
  font-size: 12px;
  font-style: initial;
  color: #fff;
  border: 1px solid #F5222D;
  background: #F5222D;
}

.bootstrap-table-checkbox span:hover::before, .bootstrap-table-radio span:hover::before {
  border: 1px solid #F5222D;
}


.miniProgress .progress {
  border-radius: 1px 0 0 1px;
  background-color: #F5222D;
}

.linkGroup > a:hover {
  color: #F5222D;
}

.right .account .avatar {
  color: #F5222D;
  background: rgba(255, 255, 255, 0.85);
}

.dark .action:hover,
.dark .action:global(.opened) {
  background: #F5222D;
}
.dark .action :global(.jp-badge) {
  color: rgba(255, 255, 255, 0.85);
}

.login .icon {
  color: rgba(0, 0, 0, 0.2);
}
.login .icon:hover {
  color: #F5222D;
}

.list .item:hover {
  background: #fff1f0;
}

.numberInfo .numberInfoValue .subTotal :global .jp-icon-caret-up {
  color: #f5222d;
}

.result .icon > .error {
  color: #f5222d;
}
.blockChecbox .selectIcon {
  color: #F5222D;
}

.handle {
  background: #F5222D;
  border-radius: 4px 0 0 4px;
}

.sider.light .logo h1 {
  color: #F5222D;
}

.errorIcon {
  color: #f5222d;
}
.errorListItem {
  border-bottom: 1px solid #e8e8e8;
}
.errorListItem:hover {
  background: #fff1f0;
}
.errorListItem:last-child {
  border: 0;
}
.errorListItem .errorIcon {
  color: #f5222d;
}

a {
  color: #F5222D;
  background-color: transparent;
}
a:hover {
  color: #ff4d4f;
}
a:active {
  color: #cf1322;
}
a[disabled] {
  color: rgba(0, 0, 0, 0.25);
}

::selection {
  background: #F5222D;
  color: #fff;
}
[jp-click-animating-without-extra-node]:after,
.jp-click-animating-node {
  border-radius: inherit;
  border: 0 solid #F5222D;
}

.jp-select-auto-complete.jp-select .jp-input:focus,
.jp-select-auto-complete.jp-select .jp-input:hover {
  border-color: #ff4d4f;
  border-right-width: 1px !important;
}

.jp-breadcrumb a:hover {
  color: #ff4d4f;
}

.jp-btn:hover,
.jp-btn:focus {
  color: #ff4d4f;
  background-color: #fff;
  border-color: #ff4d4f;
}

.jp-btn:active,
.jp-btn.active {
  color: #cf1322;
  background-color: #fff;
  border-color: #cf1322;
}

.jp-btn-primary {
  color: #fff;
  background-color: #F5222D;
  border-color: #F5222D;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
}

.jp-btn-primary:hover,
.jp-btn-primary:focus {
  color: #fff;
  background-color: #ff4d4f;
  border-color: #ff4d4f;
}

.jp-btn-primary:active,
.jp-btn-primary.active {
  color: #fff;
  background-color: #cf1322;
  border-color: #cf1322;
}
.jp-btn-primary:active > a:only-child,
.jp-btn-primary.active > a:only-child {
  color: currentColor;
}
.jp-btn-primary:active > a:only-child:after,
.jp-btn-primary.active > a:only-child:after {
  background: transparent;
}
.jp-btn-primary.disabled,
.jp-btn-primary[disabled],
.jp-btn-primary.disabled:hover,
.jp-btn-primary[disabled]:hover,
.jp-btn-primary.disabled:focus,
.jp-btn-primary[disabled]:focus,
.jp-btn-primary.disabled:active,
.jp-btn-primary[disabled]:active,
.jp-btn-primary.disabled.active,
.jp-btn-primary[disabled].active {
  color: rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  box-shadow: none;
}
.jp-btn-primary.disabled > a:only-child,
.jp-btn-primary[disabled] > a:only-child,
.jp-btn-primary.disabled:hover > a:only-child,
.jp-btn-primary[disabled]:hover > a:only-child,
.jp-btn-primary.disabled:focus > a:only-child,
.jp-btn-primary[disabled]:focus > a:only-child,
.jp-btn-primary.disabled:active > a:only-child,
.jp-btn-primary[disabled]:active > a:only-child,
.jp-btn-primary.disabled.active > a:only-child,
.jp-btn-primary[disabled].active > a:only-child {
  color: currentColor;
}
.jp-btn-primary.disabled > a:only-child:after,
.jp-btn-primary[disabled] > a:only-child:after,
.jp-btn-primary.disabled:hover > a:only-child:after,
.jp-btn-primary[disabled]:hover > a:only-child:after,
.jp-btn-primary.disabled:focus > a:only-child:after,
.jp-btn-primary[disabled]:focus > a:only-child:after,
.jp-btn-primary.disabled:active > a:only-child:after,
.jp-btn-primary[disabled]:active > a:only-child:after,
.jp-btn-primary.disabled.active > a:only-child:after,
.jp-btn-primary[disabled].active > a:only-child:after {
  background: transparent;
}
.jp-btn-group .jp-btn-primary:not(:first-child):not(:last-child) {
  border-right-color: #ff4d4f;
  border-left-color: #ff4d4f;
}
.jp-btn-group .jp-btn-primary:not(:first-child):not(:last-child):disabled {
  border-color: #d9d9d9;
}
.jp-btn-group .jp-btn-primary:first-child:not(:last-child) {
  border-right-color: #ff4d4f;
}
.jp-btn-group .jp-btn-primary:first-child:not(:last-child)[disabled] {
  border-right-color: #d9d9d9;
}
.jp-btn-group .jp-btn-primary:last-child:not(:first-child),
.jp-btn-group .jp-btn-primary + .jp-btn-primary {
  border-left-color: #ff4d4f;
}
.jp-btn-group .jp-btn-primary:last-child:not(:first-child)[disabled],
.jp-btn-group .jp-btn-primary + .jp-btn-primary[disabled] {
  border-left-color: #d9d9d9;
}
.jp-btn-dashed {
  color: rgba(0, 0, 0, 0.65);
  background-color: #fff;
  border-color: #d9d9d9;
  border-style: dashed;
}
.jp-btn-dashed > a:only-child {
  color: currentColor;
}
.jp-btn-dashed > a:only-child:after {
  background: transparent;
}
.jp-btn-dashed:hover,
.jp-btn-dashed:focus {
  color: #ff4d4f;
  background-color: #fff;
  border-color: #ff4d4f;
}
.jp-btn-dashed:hover > a:only-child,
.jp-btn-dashed:focus > a:only-child {
  color: currentColor;
}
.jp-btn-dashed:hover > a:only-child:after,
.jp-btn-dashed:focus > a:only-child:after {
  background: transparent;
}
.jp-btn-dashed:active,
.jp-btn-dashed.active {
  color: #d4380d;
  background-color: #fff;
  border-color: #ff4d4f;
}

.jp-btn-circle,
.jp-btn-circle-outline {
  border-radius: 50%;
}
.jp-btn-circle.jp-btn-lg,
.jp-btn-circle-outline.jp-btn-lg {
  border-radius: 50%;
}
.jp-btn-circle.jp-btn-sm,
.jp-btn-circle-outline.jp-btn-sm {
  border-radius: 50%;
}
.jp-btn:before {
  background: #fff;
  border-radius: inherit;
}
.jp-btn-group-lg > .jp-btn,
.jp-btn-group-lg > span > .jp-btn {
  border-radius: 0;
}
.jp-btn-group-sm > .jp-btn,
.jp-btn-group-sm > span > .jp-btn {
  border-radius: 0;
}
.jp-btn-group .jp-btn-primary + .jp-btn:not(.jp-btn-primary):not([disabled]) {
  border-left-color: transparent;
}
.jp-btn-group .jp-btn {
  border-radius: 0;
}
.jp-btn-group > .jp-btn:only-child {
  border-radius: 4px;
}
.jp-btn-group > span:only-child > .jp-btn {
  border-radius: 4px;
}
.jp-btn-group > .jp-btn:first-child:not(:last-child),
.jp-btn-group > span:first-child:not(:last-child) > .jp-btn {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.jp-btn-group > .jp-btn:last-child:not(:first-child),
.jp-btn-group > span:last-child:not(:first-child) > .jp-btn {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.jp-btn-group-sm > .jp-btn:only-child {
  border-radius: 4px;
}
.jp-btn-group-sm > span:only-child > .jp-btn {
  border-radius: 4px;
}
.jp-btn-group-sm > .jp-btn:first-child:not(:last-child),
.jp-btn-group-sm > span:first-child:not(:last-child) > .jp-btn {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.jp-btn-group-sm > .jp-btn:last-child:not(:first-child),
.jp-btn-group-sm > span:last-child:not(:first-child) > .jp-btn {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.jp-btn-group > .jp-btn-group:not(:first-child):not(:last-child) > .jp-btn {
  border-radius: 0;
}
.jp-btn-group > .jp-btn-group:first-child:not(:last-child) > .jp-btn:last-child {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.jp-btn-group > .jp-btn-group:last-child:not(:first-child) > .jp-btn:first-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.jp-btn-background-ghost {
  background: transparent !important;
  border-color: #fff;
  color: #fff;
}
.jp-btn-background-ghost.jp-btn-primary {
  color: #F5222D;
  background-color: transparent;
  border-color: #F5222D;
}
.jp-btn-background-ghost.jp-btn-primary > a:only-child {
  color: currentColor;
}
.jp-btn-background-ghost.jp-btn-primary > a:only-child:after {
  background: transparent;
}
.jp-btn-background-ghost.jp-btn-primary:hover,
.jp-btn-background-ghost.jp-btn-primary:focus {
  color: #ff4d4f;
  background-color: transparent;
  border-color: #ff4d4f;
}
.jp-btn-background-ghost.jp-btn-primary:hover > a:only-child,
.jp-btn-background-ghost.jp-btn-primary:focus > a:only-child {
  color: currentColor;
}
.jp-btn-background-ghost.jp-btn-primary:hover > a:only-child:after,
.jp-btn-background-ghost.jp-btn-primary:focus > a:only-child:after {
  background: transparent;
}
.jp-btn-background-ghost.jp-btn-primary:active,
.jp-btn-background-ghost.jp-btn-primary.active {
  color: #cf1322;
  background-color: transparent;
  border-color: #cf1322;
}
.jp-btn-background-ghost.jp-btn-primary:active > a:only-child,
.jp-btn-background-ghost.jp-btn-primary.active > a:only-child {
  color: currentColor;
}
.jp-btn-background-ghost.jp-btn-primary:active > a:only-child:after,
.jp-btn-background-ghost.jp-btn-primary.active > a:only-child:after {
  background: transparent;
}
.jp-card-actions > li > span:hover {
  color: #F5222D;
}
.jp-card-actions > li > span a {
  color: rgba(0, 0, 0, 0.45);
}
.jp-card-actions > li > span a:hover {
  color: #F5222D;
}

.jp-checkbox {
  color: rgba(0, 0, 0, 0.65);
}
.jp-checkbox-wrapper:hover .jp-checkbox-inner,
.jp-checkbox:hover .jp-checkbox-inner,
.jp-checkbox-input:focus + .jp-checkbox-inner {
  border-color: #F5222D;
}
.jp-checkbox-checked:after {
  border-radius: 2px;
  border: 1px solid #F5222D;
}
.jp-checkbox-inner {
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  background-color: #fff;
  border-collapse: separate;
}
.jp-checkbox-inner:after {
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
}
.jp-checkbox-checked .jp-checkbox-inner:after {
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
}
.jp-checkbox-checked .jp-checkbox-inner {
  background-color: #F5222D;
  border-color: #F5222D;
}
.jp-checkbox-disabled.jp-checkbox-checked .jp-checkbox-inner:after {
  border-color: rgba(0, 0, 0, 0.25);
}
.jp-checkbox-disabled .jp-checkbox-inner {
  border-color: #d9d9d9 !important;
  background-color: #f5f5f5;
}
.jp-checkbox-disabled .jp-checkbox-inner:after {
  border-color: #f5f5f5;
  border-collapse: separate;
}
.jp-checkbox-disabled + span {
  color: rgba(0, 0, 0, 0.25);
}
.jp-checkbox-wrapper {
  color: rgba(0, 0, 0, 0.65);
}
.jp-checkbox-group {
  color: rgba(0, 0, 0, 0.65);
}
.jp-checkbox-indeterminate .jp-checkbox-inner {
  background-color: #fff;
  border-color: #d9d9d9;
}
.jp-checkbox-indeterminate .jp-checkbox-inner:after {
  border: 0;
  background-color: #F5222D;
}
.jp-checkbox-indeterminate.jp-checkbox-disabled .jp-checkbox-inner:after {
  border-color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.25);
}

.jp-calendar-picker {
  color: rgba(0, 0, 0, 0.65);
}
.jp-calendar-picker:hover .jp-calendar-picker-input:not(.jp-input-disabled) {
  border-color: #F5222D;
}
.jp-calendar-picker:focus .jp-calendar-picker-input:not(.jp-input-disabled) {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}

.jp-calendar-header {
  border-bottom: 1px solid #e8e8e8;
}
.jp-calendar-header a:hover {
  color: #ff4d4f;
}

.jp-calendar-range .jp-calendar-input:hover,
.jp-calendar-range .jp-calendar-time-picker-input:hover {
  border-color: #ff4d4f;
  border-right-width: 1px !important;
}
.jp-calendar-range .jp-calendar-input:focus,
.jp-calendar-range .jp-calendar-time-picker-input:focus {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}
.jp-calendar-month-panel-selected-cell .jp-calendar-month-panel-month {
  background: #F5222D;
  color: #fff;
}
.jp-calendar-month-panel-selected-cell .jp-calendar-month-panel-month:hover {
  background: #F5222D;
  color: #fff;
}
.jp-calendar-month-panel-cell-disabled .jp-calendar-month-panel-month,
.jp-calendar-month-panel-cell-disabled .jp-calendar-month-panel-month:hover {
  color: #bcbcbc;
  background: #f5f5f5;
}
.jp-calendar-month-panel-month {
  color: rgba(0, 0, 0, 0.65);
  background: transparent;
  border-radius: 2px;
}
.jp-calendar-month-panel-month:hover {
  background: #fff1f0;
}
.jp-calendar-year-panel {
  border-radius: 4px;
  background: #fff;
}
.jp-calendar-year-panel-header {
  border-bottom: 1px solid #e8e8e8;
}
.jp-calendar-year-panel-header a:hover {
  color: #ff4d4f;
}
.jp-calendar-year-panel-year:hover {
  background: #fff1f0;
}
.jp-calendar-year-panel-selected-cell .jp-calendar-year-panel-year {
  background: #F5222D;
  color: #fff;
}
.jp-calendar-year-panel-selected-cell .jp-calendar-year-panel-year:hover {
  background: #F5222D;
  color: #fff;
}
.jp-calendar-decade-panel-header a:hover {
  color: #ff4d4f;
}
.jp-calendar-decade-panel-decade:hover {
  background: #fff1f0;
}
.jp-calendar-decade-panel-selected-cell .jp-calendar-decade-panel-decade {
  background: #F5222D;
  color: #fff;
}
.jp-calendar-decade-panel-selected-cell .jp-calendar-decade-panel-decade:hover {
  background: #F5222D;
  color: #fff;
}

.jp-dropdown-menu-dark .jp-dropdown-menu-item-selected,
.jp-dropdown-menu-dark .jp-dropdown-menu-item-selected:hover,
.jp-dropdown-menu-dark .jp-dropdown-menu-item-selected > a {
  background: #F5222D;
  color: #fff;
}

.has-error .jp-form-explain,
.has-error .jp-form-split {
  color: #f5222d;
}
.has-error .jp-input,
.has-error .jp-input:hover {
  border-color: #f5222d;
}
.has-error .jp-input:focus {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  border-right-width: 1px !important;
}
.has-error .jp-input:not([disabled]):hover {
  border-color: #f5222d;
}
.has-error .jp-calendar-picker-open .jp-calendar-picker-input {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  border-right-width: 1px !important;
}
.has-error .jp-input-prefix {
  color: #f5222d;
}
.has-error .jp-input-group-addon {
  color: #f5222d;
  border-color: #f5222d;
  background-color: #fff;
}
.has-error .has-feedback {
  color: #f5222d;
}
.has-error.has-feedback .jp-form-item-children-icon {
  color: #f5222d;
}
.has-error .jp-select-selection {
  border-color: #f5222d;
}
.has-error .jp-select-open .jp-select-selection,
.has-error .jp-select-focused .jp-select-selection {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  border-right-width: 1px !important;
}
.has-error .jp-select.jp-select-auto-complete .jp-input:focus {
  border-color: #f5222d;
}
.has-error .jp-input-group-addon .jp-select-selection {
  border-color: transparent;
  box-shadow: none;
}
.has-error .jp-calendar-picker-icon:after,
.has-error .jp-time-picker-icon:after,
.has-error .jp-picker-icon:after,
.has-error .jp-select-arrow,
.has-error .jp-cascader-picker-arrow {
  color: #f5222d;
}
.has-error .jp-input-number,
.has-error .jp-time-picker-input {
  border-color: #f5222d;
}
.has-error .jp-input-number-focused,
.has-error .jp-time-picker-input-focused,
.has-error .jp-input-number:focus,
.has-error .jp-time-picker-input:focus {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  border-right-width: 1px !important;
}
.has-error .jp-input-number:not([disabled]):hover,
.has-error .jp-time-picker-input:not([disabled]):hover {
  border-color: #f5222d;
}
.has-error .jp-mention-wrapper .jp-mention-editor,
.has-error .jp-mention-wrapper .jp-mention-editor:not([disabled]):hover {
  border-color: #f5222d;
}
.has-error .jp-mention-wrapper.jp-mention-active:not([disabled]) .jp-mention-editor,
.has-error .jp-mention-wrapper .jp-mention-editor:not([disabled]):focus {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  border-right-width: 1px !important;
}
.has-error .jp-cascader-picker:focus .jp-cascader-input {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(245, 34, 45, 0.2);
  border-right-width: 1px !important;
}
.has-error .jp-transfer-list {
  border-color: #f5222d;
}
.has-error .jp-transfer-list-search:not([disabled]) {
  border-color: #d9d9d9;
}
.has-error .jp-transfer-list-search:not([disabled]):hover {
  border-color: #ff4d4f;
  border-right-width: 1px !important;
}
.has-error .jp-transfer-list-search:not([disabled]):focus {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}
.is-validating.has-feedback .jp-form-item-children-icon {
  color: #F5222D;
}

.jp-input:hover {
  border-color: #ff4d4f;
  border-right-width: 1px !important;
}
.jp-input:focus {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}
.jp-input-disabled {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.25);
}
.jp-input-disabled:hover {
  border-color: #e6d8d8;
  border-right-width: 1px !important;
}

.jp-input-group-addon .jp-select-open .jp-select-selection,
.jp-input-group-addon .jp-select-focused .jp-select-selection {
  color: #F5222D;
}

.jp-input-group.jp-input-group-compact-addon:not(:first-child):not(:last-child):hover,
.jp-input-group.jp-input-group-compact-wrap:not(:first-child):not(:last-child):hover,
.jp-input-group.jp-input-group-compact > .jp-input:not(:first-child):not(:last-child):hover {
  border-color: #ff4d4f;
  border-right-width: 1px !important;
}
.jp-input-group.jp-input-group-compact-addon:not(:first-child):not(:last-child):focus,
.jp-input-group.jp-input-group-compact-wrap:not(:first-child):not(:last-child):focus,
.jp-input-group.jp-input-group-compact > .jp-input:not(:first-child):not(:last-child):focus {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}

.jp-input-group.jp-input-group-compact > .jp-select > .jp-select-selection:hover,
.jp-input-group.jp-input-group-compact > .jp-calendar-picker .jp-input:hover,
.jp-input-group.jp-input-group-compact > .jp-select-auto-complete .jp-input:hover,
.jp-input-group.jp-input-group-compact > .jp-cascader-picker .jp-input:hover,
.jp-input-group.jp-input-group-compact > .jp-mention-wrapper .jp-mention-editor:hover,
.jp-input-group.jp-input-group-compact > .jp-time-picker .jp-time-picker-input:hover {
  border-color: #ff4d4f;
  border-right-width: 1px !important;
}
.jp-input-group.jp-input-group-compact > .jp-select > .jp-select-selection:focus,
.jp-input-group.jp-input-group-compact > .jp-calendar-picker .jp-input:focus,
.jp-input-group.jp-input-group-compact > .jp-select-auto-complete .jp-input:focus,
.jp-input-group.jp-input-group-compact > .jp-cascader-picker .jp-input:focus,
.jp-input-group.jp-input-group-compact > .jp-mention-wrapper .jp-mention-editor:focus,
.jp-input-group.jp-input-group-compact > .jp-time-picker .jp-time-picker-input:focus {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}

.jp-input-group.jp-input-group-compact > *:last-child:hover,
.jp-input-group.jp-input-group-compact > .jp-select:last-child > .jp-select-selection:hover,
.jp-input-group.jp-input-group-compact > .jp-calendar-picker:last-child .jp-input:hover,
.jp-input-group.jp-input-group-compact > .jp-select-auto-complete:last-child .jp-input:hover,
.jp-input-group.jp-input-group-compact > .jp-cascader-picker:last-child .jp-input:hover,
.jp-input-group.jp-input-group-compact > .jp-cascader-picker-focused:last-child .jp-input:hover,
.jp-input-group.jp-input-group-compact > .jp-mention-wrapper:last-child .jp-mention-editor:hover,
.jp-input-group.jp-input-group-compact > .jp-time-picker:last-child .jp-time-picker-input:hover {
  border-color: #ff4d4f;
  border-right-width: 1px !important;
}
.jp-input-group.jp-input-group-compact > *:last-child:focus,
.jp-input-group.jp-input-group-compact > .jp-select:last-child > .jp-select-selection:focus,
.jp-input-group.jp-input-group-compact > .jp-calendar-picker:last-child .jp-input:focus,
.jp-input-group.jp-input-group-compact > .jp-select-auto-complete:last-child .jp-input:focus,
.jp-input-group.jp-input-group-compact > .jp-cascader-picker:last-child .jp-input:focus,
.jp-input-group.jp-input-group-compact > .jp-cascader-picker-focused:last-child .jp-input:focus,
.jp-input-group.jp-input-group-compact > .jp-mention-wrapper:last-child .jp-mention-editor:focus,
.jp-input-group.jp-input-group-compact > .jp-time-picker:last-child .jp-time-picker-input:focus {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}
.jp-input-group.jp-input-group-compact > *:last-child:focus .jp-cascader-input,
.jp-input-group.jp-input-group-compact > .jp-select:last-child > .jp-select-selection:focus .jp-cascader-input,
.jp-input-group.jp-input-group-compact > .jp-calendar-picker:last-child .jp-input:focus .jp-cascader-input,
.jp-input-group.jp-input-group-compact > .jp-select-auto-complete:last-child .jp-input:focus .jp-cascader-input,
.jp-input-group.jp-input-group-compact > .jp-cascader-picker:last-child .jp-input:focus .jp-cascader-input,
.jp-input-group.jp-input-group-compact > .jp-cascader-picker-focused:last-child .jp-input:focus .jp-cascader-input,
.jp-input-group.jp-input-group-compact > .jp-mention-wrapper:last-child .jp-mention-editor:focus .jp-cascader-input,
.jp-input-group.jp-input-group-compact > .jp-time-picker:last-child .jp-time-picker-input:focus .jp-cascader-input {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}
.jp-input-affix-wrapper {
  color: rgba(0, 0, 0, 0.65);
}
.jp-input-affix-wrapper:hover .jp-input:not(.jp-input-disabled) {
  border-color: #ff4d4f;
  border-right-width: 1px !important;
}

.jp-list-item-meta-title > a:hover {
  color: #F5222D;
}

.jp-notification-notice-icon-success {
  color: #52c41a;
}
.jp-notification-notice-icon-info {
  color: #F5222D;
}
.jp-notification-notice-icon-warning {
  color: #faad14;
}
.jp-notification-notice-icon-error {
  color: #f5222d;
}
.jp-notification-notice-close {
  color: rgba(0, 0, 0, 0.45);
}
.jp-notification-notice-close:hover {
  color: rgba(0, 0, 0, 0.67);
}
.jp-pagination {
  color: rgba(0, 0, 0, 0.65);
}
.jp-pagination-item {
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
}
.jp-pagination-item a {
  color: rgba(0, 0, 0, 0.65);
}
.jp-pagination-item:focus,
.jp-pagination-item:hover {
  border-color: #F5222D;
}
.jp-pagination-item:focus a,
.jp-pagination-item:hover a {
  color: #F5222D;
}
.jp-pagination-item-active {
  border-color: #F5222D;
}
.jp-pagination-item-active a {
  color: #F5222D;
}
.jp-pagination-item-active:focus,
.jp-pagination-item-active:hover {
  border-color: #ff4d4f;
}
.jp-pagination-item-active:focus a,
.jp-pagination-item-active:hover a {
  color: #ff4d4f;
}
.jp-pagination-jump-prev .jp-pagination-item-container .jp-pagination-item-link-icon,
.jp-pagination-jump-next .jp-pagination-item-container .jp-pagination-item-link-icon {
  color: #F5222D;
}
.jp-pagination-prev:hover a,
.jp-pagination-next:hover a {
  border-color: #ff4d4f;
}

.jp-pagination-prev:focus .jp-pagination-item-link,
.jp-pagination-next:focus .jp-pagination-item-link,
.jp-pagination-prev:hover .jp-pagination-item-link,
.jp-pagination-next:hover .jp-pagination-item-link {
  border-color: #F5222D;
  color: #F5222D;
}

.jp-pagination-options-quick-jumper input:hover {
  border-color: #ff4d4f;
  border-right-width: 1px !important;
}
.jp-pagination-options-quick-jumper input:focus {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}
.jp-pagination-options-quick-jumper input-disabled {
  background-color: #f5f5f5;
  color: rgba(0, 0, 0, 0.25);
}
.jp-pagination-options-quick-jumper input-disabled:hover {
  border-color: #e6d8d8;
  border-right-width: 1px !important;
}
.jp-pagination-simple .jp-pagination-prev .jp-pagination-item-link,
.jp-pagination-simple .jp-pagination-next .jp-pagination-item-link {
  border: 0;
}
.jp-pagination-simple .jp-pagination-simple-pager input {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
}
.jp-pagination-simple .jp-pagination-simple-pager input:hover {
  border-color: #F5222D;
}
.jp-pagination.mini .jp-pagination-item:not(.jp-pagination-item-active) {
  background: transparent;
  border-color: transparent;
}
.jp-pagination.mini .jp-pagination-prev .jp-pagination-item-link,
.jp-pagination.mini .jp-pagination-next .jp-pagination-item-link {
  border-color: transparent;
  background: transparent;
}

.jp-progress-success-bg,
.jp-progress-bg {
  background-color: #F5222D;
}
.jp-progress-success-bg {
  background-color: #52c41a;
}
.jp-progress-text {
  color: rgba(0, 0, 0, 0.45);
}
.jp-progress-status-active .jp-progress-bg:before {
  background: #fff;
  border-radius: 10px;
}
.jp-progress-status-exception .jp-progress-bg {
  background-color: #f5222d;
}
.jp-progress-status-exception .jp-progress-text {
  color: #f5222d;
}
.jp-progress-status-success .jp-progress-bg {
  background-color: #52c41a;
}
.jp-progress-status-success .jp-progress-text {
  color: #52c41a;
}
.jp-progress-circle .jp-progress-inner {
  background-color: transparent;
}
.jp-progress-circle .jp-progress-text {
  color: rgba(0, 0, 0, 0.65);
}
.jp-progress-circle.jp-progress-status-exception .jp-progress-text {
  color: #f5222d;
}
.jp-progress-circle.jp-progress-status-success .jp-progress-text {
  color: #52c41a;
}
.jp-radio-group {
  color: rgba(0, 0, 0, 0.65);
}
.jp-radio-wrapper {
  color: rgba(0, 0, 0, 0.65);
}
.jp-radio {
  color: rgba(0, 0, 0, 0.65);
}
.jp-radio-wrapper:hover .jp-radio .jp-radio-inner,
.jp-radio:hover .jp-radio-inner,
.jp-radio-focused .jp-radio-inner {
  border-color: #F5222D;
}
.jp-radio-checked:after {
  border-radius: 50%;
  border: 1px solid #F5222D;
}
.jp-radio-inner {
  border-width: 1px;
  border-style: solid;
  border-radius: 100px;
  border-color: #d9d9d9;
  background-color: #fff;
}
.jp-radio-inner:after {
  border-radius: 8px;
  border-top: 0;
  border-left: 0;
  background-color: #F5222D;
}
.jp-radio-checked .jp-radio-inner {
  border-color: #F5222D;
}

.jp-radio-button-wrapper:hover,
.jp-radio-button-wrapper-focused {
  color: #F5222D;
}
.jp-radio-button-wrapper-checked {
  background: #fff;
  border-color: #F5222D;
  color: #F5222D;
  box-shadow: -1px 0 0 0 #F5222D;
}
.jp-radio-button-wrapper-checked::before {
  background-color: #F5222D !important;
}
.jp-radio-button-wrapper-checked:first-child {
  border-color: #F5222D;
  box-shadow: none !important;
}
.jp-radio-button-wrapper-checked:hover {
  border-color: #ff4d4f;
  box-shadow: -1px 0 0 0 #ff4d4f;
  color: #ff4d4f;
}
.jp-radio-button-wrapper-checked:active {
  border-color: #cf1322;
  box-shadow: -1px 0 0 0 #cf1322;
  color: #cf1322;
}
.jp-radio-group-solid .jp-radio-button-wrapper-checked:not(.jp-radio-button-wrapper-disabled) {
  background: #F5222D;
  border-color: #F5222D;
  color: #fff;
}
.jp-radio-group-solid .jp-radio-button-wrapper-checked:not(.jp-radio-button-wrapper-disabled):hover {
  border-color: #ff4d4f;
  background: #ff4d4f;
  color: #fff;
}
.jp-radio-group-solid .jp-radio-button-wrapper-checked:not(.jp-radio-button-wrapper-disabled):active {
  border-color: #cf1322;
  background: #cf1322;
  color: #fff;
}
.jp-select {
  color: rgba(0, 0, 0, 0.65);
}
.jp-select > ul > li > a {
  background-color: #fff;
}
.jp-select-arrow {
  color: rgba(0, 0, 0, 0.25);
}
.jp-select-selection {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #d9d9d9;
  border-top-width: 1.02px;
}
.jp-select-selection:hover {
  border-color: #ff4d4f;
  border-right-width: 1px !important;
}
.jp-select-focused .jp-select-selection,
.jp-select-selection:focus,
.jp-select-selection:active {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}

.jp-select-open .jp-select-selection {
  border-color: #ff4d4f;
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  border-right-width: 1px !important;
}

.jp-select-dropdown.jp-select-dropdown--multiple .jp-select-dropdown-menu-item-selected .jp-select-selected-icon,
.jp-select-dropdown.jp-select-dropdown--multiple .jp-select-dropdown-menu-item-selected:hover .jp-select-selected-icon {
  color: #F5222D;
}

.jp-slider-track {
  border-radius: 4px;
  background-color: #ff4d4f;
}
.jp-slider-handle {
  border-radius: 50%;
  border: solid 2px #ff4d4f;
  background-color: #fff;
  box-shadow: 0;
}
.jp-slider-handle:focus {
  border-color: #46a6ff;
  box-shadow: 0 0 0 5px rgba(24, 144, 255, 0.2);
}
.jp-slider-handle.jp-tooltip-open {
  border-color: #F5222D;
}
.jp-slider:hover .jp-slider-rail {
  background-color: #e1e1e1;
}
.jp-slider:hover .jp-slider-track {
  background-color: #F5222D;
}
.jp-slider:hover .jp-slider-handle:not(.jp-tooltip-open) {
  border-color: #F5222D;
}
.jp-slider-mark-text {
  color: rgba(0, 0, 0, 0.45);
}
.jp-slider-mark-text-active {
  color: rgba(0, 0, 0, 0.65);
}
.jp-slider-step {
  background: transparent;
}
.jp-slider-dot {
  border: 2px solid #e8e8e8;
  background-color: #fff;
  border-radius: 50%;
}
.jp-slider-dot-active {
  border-color: #ff4d4f;
}
.jp-slider-disabled .jp-slider-track {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
.jp-slider-disabled .jp-slider-handle,
.jp-slider-disabled .jp-slider-dot {
  border-color: rgba(0, 0, 0, 0.25) !important;
  background-color: #fff;
  box-shadow: none;
}
.jp-spin {
  color: rgba(0, 0, 0, 0.65);
  color: #F5222D;
}
.jp-spin-blur:after {
  background: #fff;
}
.jp-spin-tip {
  color: rgba(0, 0, 0, 0.45);
}
.jp-spin-dot i {
  border-radius: 100%;
  background-color: #F5222D;
}
.jp-steps {
  color: rgba(0, 0, 0, 0.65);
}
.jp-steps-item-icon {
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 32px;
}
.jp-steps-item-icon > .jp-steps-icon {
  color: #F5222D;
}
.jp-steps-item-tail:after {
  background: #e8e8e8;
  border-radius: 1px;
}

.jp-steps-item-process .jp-steps-item-icon {
  border-color: #F5222D;
  background-color: #fff;
}
.jp-steps-item-process .jp-steps-item-icon > .jp-steps-icon {
  color: #F5222D;
}
.jp-steps-item-process .jp-steps-item-icon > .jp-steps-icon .jp-steps-icon-dot {
  background: #F5222D;
}

.jp-steps-item-process .jp-steps-item-icon {
  background: #F5222D;
}
.jp-steps-item-process .jp-steps-item-icon > .jp-steps-icon {
  color: #fff;
}
.jp-steps-item-finish .jp-steps-item-icon {
  border-color: #F5222D;
  background-color: #fff;
}
.jp-steps-item-finish .jp-steps-item-icon > .jp-steps-icon {
  color: #F5222D;
}
.jp-steps-item-finish .jp-steps-item-icon > .jp-steps-icon .jp-steps-icon-dot {
  background: #F5222D;
}
.jp-steps-item-finish > .jp-steps-item-content > .jp-steps-item-title {
  color: rgba(0, 0, 0, 0.65);
}
.jp-steps-item-finish > .jp-steps-item-content > .jp-steps-item-title:after {
  background-color: #F5222D;
}
.jp-steps-item-finish > .jp-steps-item-content > .jp-steps-item-description {
  color: rgba(0, 0, 0, 0.45);
}
.jp-steps-item-finish > .jp-steps-item-tail:after {
  background-color: #F5222D;
}
.jp-steps-item-error .jp-steps-item-icon {
  border-color: #f5222d;
  background-color: #fff;
}
.jp-steps-item-error .jp-steps-item-icon > .jp-steps-icon {
  color: #f5222d;
}
.jp-steps-item-error .jp-steps-item-icon > .jp-steps-icon .jp-steps-icon-dot {
  background: #f5222d;
}
.jp-steps-item-error > .jp-steps-item-content > .jp-steps-item-title {
  color: #f5222d;
}
.jp-steps-item-error > .jp-steps-item-content > .jp-steps-item-title:after {
  background-color: #e8e8e8;
}
.jp-steps-item-error > .jp-steps-item-content > .jp-steps-item-description {
  color: #f5222d;
}
.jp-steps-item-error > .jp-steps-item-tail:after {
  background-color: #e8e8e8;
}
.jp-steps-item.jp-steps-next-error .jp-steps-item-title:after {
  background: #f5222d;
}
.jp-steps-item-custom .jp-steps-item-icon {
  background: none;
  border: 0;
}
.jp-steps-item-custom.jp-steps-item-process .jp-steps-item-icon > .jp-steps-icon {
  color: #F5222D;
}

.jp-switch-checked.jp-switch-loading .jp-switch-loading-icon {
  color: #F5222D;
}
.jp-switch:focus {
  box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
}
.jp-switch:focus:hover {
  box-shadow: none;
}
.jp-switch-checked {
  background-color: #F5222D;
}

.jp-table-thead > tr > th .jp-table-filter-selected.jp-icon-filter {
  color: #F5222D;
}
.jp-table-thead > tr > th .jp-table-column-sorter {
  color: #bfbfbf;
}
.jp-table-thead > tr > th .jp-table-column-sorter-up.on,
.jp-table-thead > tr > th .jp-table-column-sorter-down.on {
  color: #F5222D;
}

.jp-table-thead > tr.jp-table-row-hover:not(.jp-table-expanded-row) > td,
.jp-table-tbody > tr.jp-table-row-hover:not(.jp-table-expanded-row) > td,
.jp-table-thead > tr:hover:not(.jp-table-expanded-row) > td,
.jp-table-tbody > tr:hover:not(.jp-table-expanded-row) > td {
  background: #fff1f0;
}

.jp-table-filter-dropdown .jp-dropdown-menu .jp-dropdown-submenu-contain-selected .jp-dropdown-menu-submenu-title:after {
  color: #F5222D;
}
.jp-table-filter-dropdown > .jp-dropdown-menu > .jp-dropdown-menu-item:last-child,
.jp-table-filter-dropdown > .jp-dropdown-menu > .jp-dropdown-menu-submenu:last-child .jp-dropdown-menu-submenu-title {
  border-radius: 0;
}
.jp-table-filter-dropdown-btns {
  border-top: 1px solid #e8e8e8;
}
.jp-table-filter-dropdown-link {
  color: #F5222D;
}
.jp-table-filter-dropdown-link:hover {
  color: #ff4d4f;
}
.jp-table-filter-dropdown-link:active {
  color: #cf1322;
}

.jp-tabs.jp-tabs-card .jp-tabs-card-bar .jp-tabs-tab-active {
  background: #fff;
  border-color: #e8e8e8;
  color: #F5222D;
}
.jp-tabs-extra-content .jp-tabs-new-tab:hover {
  color: #F5222D;
  border-color: #F5222D;
}

.jp-tabs .jp-tabs-card-bar.jp-tabs-bottom-bar .jp-tabs-tab-active {
  color: #F5222D;
}
.jp-tabs-ink-bar {
  background-color: #F5222D;
}
.jp-tabs-nav .jp-tabs-tab:hover {
  color: #ff4d4f;
}
.jp-tabs-nav .jp-tabs-tab:active {
  color: #cf1322;
}
.jp-tabs-nav .jp-tabs-tab-active {
  color: #F5222D;
}


/**jstree样式**/
.jstree-default .jstree-checked>.jstree-checkbox:after, .jstree-default.jstree-checkbox-selection .jstree-clicked>.jstree-checkbox:after {
  content: '\f00c';
  font-family: FontAwesome;
  position: absolute;
  left: 4px;
  right: 4px;
  bottom: 4px;
  top: 4px;
  display: block;
  line-height: 15px;
  font-size: 12px;
  font-style: initial;
  color: #ffffff;
  background: #F5222D;
  border: 1px solid #F5222D;
}

.jstree-default .jstree-wholerow-hovered {
  background: #ffeff060 !important;;
}

.jstree-default .jstree-clicked, .jstree-default .jstree-wholerow-clicked,
.jstree-wholerow-hovered.jstree-wholerow-clicked {
  background: #ffeff0 !important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
.jstree-clicked.jstree-hovered {
  background: #ffeff0 !important
}

.radio-info input[type=radio]:checked + label::before {
  border-color: #F5222D;
}

.radio-info input[type=radio]:checked + label::after {
  background-color: #F5222D;
}
.radio-info input[type=radio]:hover + label::before {
  border-color: #F5222D;
}
.radio-info input[type=radio] + label::after {
  background-color: #F5222D;
}
.customvtab .tabs-vertical li.active a,
.customvtab .tabs-vertical li.active a:focus,
.customvtab .tabs-vertical li.active a:hover {
  background: #ffeff0;
  border: 0;
  border-right: 2px solid #F5222D;
  color: #F5222D !important;
  font-weight: 700;
}

.tabs-vertical li a:hover, .tabs-vertical li a:focus {
  color: #F5222D!important;
  background: #fff;
}
.customtab li.active a, .customtab li.active a:hover, .customtab li.active a:focus {
  border-bottom: 2px solid #F5222D;
  background: #ffeff0!important;
  color: #F5222D!important;
  font-weight: 700;
}
.customtab li a:focus, .customtab li a:hover {
  border: 0;
  color: #F5222D!important;
}
.jp-card-bordered:hover {
  border: 1px solid #F5222D;
  -moz-box-shadow: 0 0 5px #ccc;
  box-shadow: 5px 5px 10px #ccc;
}
.jp-card-bordered:hover .jp-card-cover1 {
  color: white;
  background: -webkit-linear-gradient(left,#F5222D80,#F5222D);
  background: -o-linear-gradient(right,#F5222D80,#F5222D);
  background: -moz-linear-gradient(right,#F5222D80,#F5222D);
  background: linear-gradient(right,#F5222D80,#F5222D);
  background: -ms-linear-gradient(right,#F5222D80,#F5222D);
}
.jp-card-bordered:hover .jp-card-meta-description {
  color: #F5222D;
}
.jstree-default .jstree-checkbox:hover::before {
  border: 1px solid #F5222D;
}
.jp-pagination-first:focus .jp-pagination-item-link, .jp-pagination-first:hover .jp-pagination-item-link,
.jp-pagination-last:focus .jp-pagination-item-link, .jp-pagination-last:hover .jp-pagination-item-link,
.jp-pagination-next:focus .jp-pagination-item-link, .jp-pagination-next:hover .jp-pagination-item-link, .jp-pagination-prev:focus .jp-pagination-item-link, .jp-pagination-prev:hover .jp-pagination-item-link {
    border-color: #F5222D;
    color: #F5222D
}

.layui-layer-btn .layui-layer-btn0 {
  border-color: #F5222D;
  background-color: #F5222D;
  color: #fff;
}
.jp-table-column-sorter-down.on .jp-icon-caret-down, .jp-table-column-sorter-down.on .jp-icon-caret-up, .jp-table-column-sorter-up.on .jp-icon-caret-down, .jp-table-column-sorter-up.on .jp-icon-caret-up {
  color: #F5222D;
}
.jp-table-column-sorter-down:hover .jp-icon, .jp-table-column-sorter-up:hover .jp-icon {
  color: #F5222D;
}