<%
layout("/include/_dialog.html"){
%>
	<script type="text/javascript">

		$(document).ready(function() {
						});

		function save() {
            var isValidate = jp.validateForm('#inputForm');//校验表单
            if(!isValidate){
                return false;
			}else{
                var index = jp.loading();
                jp.post("${ctx}/jcda_sbkqxx/jcdaSbmcView1/save",$('#inputForm').serialize(),function(data){
                    if(data.success){
                        parent.refreshTree();
                        var dialogIndex = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                        parent.layer.close(dialogIndex);
                        jp.toastr_success(data.msg)

                    }else{
                        jp.toastr_error(data.msg);
                    }
                    jp.close(index);
                })
			}

        }
	</script>
<div class="white-box">
		<form id="inputForm"  method="post" class="form-horizontal">
		<input type="hidden" name="id" value="${jcdaSbmcView1.id!}"/>
		<table class="table table-bordered">
		   <tbody>
				<tr>
					<td class="width-15 active"><label class="pull-right"><font color="red">*</font>父级id：</label></td>
					<td class="width-35">
						<#treeselect id="parent" name="parent.id" value="${jcdaSbmcView1.parent.id!}" labelName="parent.name" labelValue="${jcdaSbmcView1.parent.name!}"
						title="父级id" url="/jcda_sbkqxx/jcdaSbmcView1/treeData" extId="${jcdaSbmcView1.id!}" class="jp-input required" allowClear="true"/>
					</td>
					<td class="width-15 active"></td>
		   			<td class="width-35" ></td>
		  		</tr>
		 	</tbody>
		</table>
		</form>
</div>
<% } %>