<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jcda_ygxx_view.mapper.JcdaYgxxViewMapper">
    
	<sql id="jcdaYgxxViewColumns">
		a.id AS "id",
		a.code AS "code",
		a.name AS "name",
		a.cardno AS "cardno"
	</sql>
	
	<sql id="jcdaYgxxViewJoins">
		
	</sql>
	
    
	<select id="get" resultType="JcdaYgxxView" >
		SELECT 
			<include refid="jcdaYgxxViewColumns"/>
		FROM jcda_ygxx_view a
		<include refid="jcdaYgxxViewJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="JcdaYgxxView" >
		SELECT 
			<include refid="jcdaYgxxViewColumns"/>
		FROM jcda_ygxx_view a
		<include refid="jcdaYgxxViewJoins"/>
		<where>
			
			${dataScope}
			<if test="code != null and code != ''">
				AND a.code LIKE 
					<if test="_databaseId == 'oracle'">'%'||#{code}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{code}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{code},'%')</if>
			</if>
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="_databaseId == 'oracle'">'%'||#{name}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{name}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="cardno != null and cardno != ''">
				AND a.cardno LIKE 
					<if test="_databaseId == 'oracle'">'%'||#{cardno}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{cardno}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{cardno},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="JcdaYgxxView" >
		SELECT 
			<include refid="jcdaYgxxViewColumns"/>
		FROM jcda_ygxx_view a
		<include refid="jcdaYgxxViewJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO jcda_ygxx_view(
			id,
			code,
			name,
			cardno
		) VALUES (
			#{id},
			#{code},
			#{name},
			#{cardno}
		)
	</insert>
	
	<update id="update">
		UPDATE jcda_ygxx_view SET 	
			code = #{code},
			name = #{name},
			cardno = #{cardno}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM jcda_ygxx_view
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE jcda_ygxx_view SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="JcdaYgxxView" statementType="STATEMENT">
		select * FROM jcda_ygxx_view  where ${propertyName} = '${value}'
	</select>
	
</mapper>