<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.kqgl_rykqb.mapper.KqglrykqbMapper">
    
	<sql id="kqglrykqbColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.jg AS "jg.id",
		a.bm AS "bm.id",
		a.code AS "code",
		a.name AS "xm.id",
		a.sbmc AS "sbmc",
		a.sbxlh AS "sbxlh",
		a.kqsj AS "kqsj",
		a.kqnyr AS "kqnyr",
		a.xq AS "xq",
		a.zp AS "zp",
		a.zt AS "zt",
		a.czy AS "czy",
		a.zdy1 AS "zdy1",
		a.zdy2 AS "zdy2",
		a.zdy3 AS "zdy3",
		a.zdy4 AS "zdy4",
		a.zdy5 AS "zdy5",
		a.zdy6 AS "zdy6",
		a.ryzt AS "ryzt",
		a.sc AS "sc",
		a.ts AS "ts",
		a.bb AS "bb",
		jg.name AS "jg.name",
		xm.name AS "xm.name"
	</sql>
	
	<sql id="kqglrykqbJoins">
		
		LEFT JOIN sys_office jg ON jg.id = a.jg
		LEFT JOIN jcda_ygxx_view xm ON xm.id = a.name
	</sql>
	
    
	<select id="get" resultType="Kqglrykqb" >
		SELECT 
			<include refid="kqglrykqbColumns"/>
		FROM kqgl_rykqb a
		<include refid="kqglrykqbJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Kqglrykqb" >
		SELECT 
			<include refid="kqglrykqbColumns"/>
		FROM kqgl_rykqb a
		<include refid="kqglrykqbJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="jg != null  and jg.id != null and jg.id != ''">
                AND (a.jg = #{jg.id} OR jg.parent_ids LIKE
                <if test="_databaseId == 'oracle'">'%,'||#{jg.id}||',%')</if>
                <if test="_databaseId == 'mysql'">CONCAT('%,', #{jg.id}, ',%'))</if>
                <if test="_databaseId == 'mssql'">'%'+#{jg.id}+'%')</if>
            </if>
			<if test="bm != null and bm.id != null and bm.id != ''">
				AND a.bm = #{bm.id}
			</if>
			<if test="code != null and code != ''">
				AND a.code = #{code}
			</if>
			<if test="xm != null and xm.id != null and xm.id != ''">
				AND a.name = #{xm.id}
			</if>
			<if test="sbmc != null and sbmc != ''">
				AND a.sbmc LIKE 
					<if test="_databaseId == 'oracle'">'%'||#{sbmc}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{sbmc}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{sbmc},'%')</if>
			</if>
			<if test="zt != null and zt != ''">
				AND a.zt = #{zt}
			</if>
			<if test="ryzt != null and ryzt != ''">
				AND a.ryzt = #{ryzt}
			</if>
			<if test="bb != null and bb != ''">
				AND a.bb = #{bb}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Kqglrykqb" >
		SELECT 
			<include refid="kqglrykqbColumns"/>
		FROM kqgl_rykqb a
		<include refid="kqglrykqbJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO kqgl_rykqb(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			jg,
			bm,
			code,
			name,
			sbmc,
			sbxlh,
			kqsj,
			kqnyr,
			xq,
			zp,
			zt,
			czy,
			zdy1,
			zdy2,
			zdy3,
			zdy4,
			zdy5,
			zdy6,
			ryzt,
			sc,
			ts,
			bb
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{jg.id},
			#{bm.id},
			#{code},
			#{xm.id},
			#{sbmc},
			#{sbxlh},
			#{kqsj},
			#{kqnyr},
			#{xq},
			#{zp},
			#{zt},
			#{czy},
			#{zdy1},
			#{zdy2},
			#{zdy3},
			#{zdy4},
			#{zdy5},
			#{zdy6},
			#{ryzt},
			#{sc},
			#{ts},
			#{bb}
		)
	</insert>
	
	<update id="update">
		UPDATE kqgl_rykqb SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			jg = #{jg.id},
			bm = #{bm.id},
			code = #{code},
			name = #{xm.id},
			sbmc = #{sbmc},
			sbxlh = #{sbxlh},
			kqsj = #{kqsj},
			kqnyr = #{kqnyr},
			xq = #{xq},
			zp = #{zp},
			zt = #{zt},
			czy = #{czy},
			zdy1 = #{zdy1},
			zdy2 = #{zdy2},
			zdy3 = #{zdy3},
			zdy4 = #{zdy4},
			zdy5 = #{zdy5},
			zdy6 = #{zdy6},
			ryzt = #{ryzt},
			sc = #{sc},
			ts = #{ts},
			bb = #{bb}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM kqgl_rykqb
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE kqgl_rykqb SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Kqglrykqb" statementType="STATEMENT">
		select * FROM kqgl_rykqb  where ${propertyName} = '${value}'
	</select>
	
</mapper>