<%
layout("/include/_container.html", {title:"列表", parent:"员工信息"}){
%>
    <div class="row">
    <div class="col-sm-3 col-md-2" style="padding-right: 5px">
        <div class="white-box">
            <div>
			<div style="width: calc(100% - 50px);float: left">
			<span class="jp-input-search jp-input-affix-wrapper " style="margin-bottom: 5px;">
				<input id="search_q" placeholder="查找..." class="jp-input" type="text">
				<span class="jp-input-suffix">
					<i class="jp-icon jp-icon-search jp-input-search-icon"></i>
				</span>
			</span>
			</div>
			<div style="width: 45px; float:right">
               <button  class="jp-btn jp-btn-primary"  onclick="jp.openSaveDialog('新建机构', '${ctx}/jcda_ryxx/syjg/form/add','800px', '500px')">
                <i class="fa fa-plus"></i>
                </button>
            </div>
            </div>
            <div id="syjgjsTree"></div>
        </div>
    </div>
    <div class="col-sm-9 col-md-10" style="padding-left: 0px">

	
				<!-- 文件上传 -->
    <div id="import-collapse" class="white-box collapse" style="position:relative;margin-bottom: 5px">
        <a class="jp-ti-close" onclick="$('#import-collapse').fadeToggle()">
            <i class="icon iconfont icon-guanbi"></i>
        </a>
        <form id="importForm" method="POST" enctype="multipart/form-data" class="form form-horizontal clearfix">
            <div class="col-xs-12 col-sm-6">
                <input name="file" type="file" class="required jp-input">只允许导入&ldquo;xls&rdquo;或&ldquo;xlsx&rdquo;格式文件！<br>　

            </div>
            <div class="col-xs-12 col-sm-6">
                <a id="btnImportExcel" class="jp-btn jp-btn-primary"><i class="fa fa-upload"></i> 开始上传</a>
                <a id="btnDownloadTpl" class="jp-btn"><i class="fa fa-download"></i> 下载模板</a>
            </div>　
        </form>
    </div>
    <!-- 搜索框-->
    <div id="search-collapse" class="white-box collapse" style="position: relative; margin-bottom: 5px; display: none;">
        <a class="jp-ti-close" onclick="$('#search-collapse').fadeToggle()">
            <i class="icon iconfont icon-guanbi"></i>
        </a>
        <form id="searchForm" class="form form-horizontal clearfix">
						 <div class="col-xs-12 col-sm-6 col-md-4">
							<label class="label-item single-overflow pull-left" title="组织架构：">组织架构：</label>
							<#treeselect id="jg" name="jg.id" labelName="jg.name"
								title="组织架构" url="/jcda_ryxx/syjg/treeData" extId="${jcdaygxx.id}" class="jp-input required" allowClear="true"/>
						</div>
						 <div class="col-xs-12 col-sm-6 col-md-4">
							<label class="label-item single-overflow pull-left" title="员工编号：">员工编号：</label>
							<input name="code"  maxlength="64"  class=" jp-input"/>
						</div>
						 <div class="col-xs-12 col-sm-6 col-md-4">
							<label class="label-item single-overflow pull-left" title="员工姓名：">员工姓名：</label>
							<input name="name"  maxlength="64"  class=" jp-input"/>
						</div>
						 <div class="col-xs-12 col-sm-6 col-md-4">
							<label class="label-item single-overflow pull-left" title="登记编号：">登记编号：</label>
							<input name="regcode"  maxlength="64"  class=" jp-input"/>
						</div>
						 <div class="col-xs-12 col-sm-6 col-md-4">
							<label class="label-item single-overflow pull-left" title="卡片编号：">卡片编号：</label>
							<input name="cardno"  maxlength="64"  class=" jp-input"/>
						</div>
						 <div class="col-xs-12 col-sm-6 col-md-4">
				<label class="label-item single-overflow pull-left" title="入职日期：">入职日期：</label>
				<div class="input-daterange input-group col-xs-12" id="enterdate">
					 <input type="text" class="jp-input" id="beginEnterdate" name="beginEnterdate" />
					 <span class="input-group-addon jp-btn-primary b-0 text-white">to</span>
					 <input type="text" class="jp-input" id="endEnterdate" name="endEnterdate" />
				</div>
						</div>
							 <div class="col-xs-12 col-sm-6 col-md-4">
							<label class="label-item single-overflow pull-left" title="设备名称：">设备名称：</label>
							<#gridselect url="${ctx}/jcda_sbgl_view/jcdaSbglView/data" id="sb" name="sb.id"  labelName="sb.name"
										 title="选择设备名称" class="jp-input " fieldLabels="名称" fieldKeys="name" searchLabels="名称" searchKeys="name"/>
						</div>
					 <div class="col-xs-12 col-sm-6 col-md-4">
             <div style="margin-top:26px">
                 <a id="search" class="jp-btn jp-btn-primary"><i class="fa fa-search"></i> 查询</a>
                 <a id="reset" class="jp-btn"><i class="fa fa-refresh"></i> 重置</a>
            </div>
					</div>
				</form>

				</div>

	<div class="white-box">

	<!-- 工具栏 -->
	<div id="toolbar">
			 <% if(shiro.hasPermission("jcda_ryxx:jcdaygxx:add") ){ %>
			 	<button id="add" class="jp-btn jp-btn-primary" onclick="add()">
					<i class="glyphicon glyphicon-plus"></i> 新建
				</button>
			<% } %>
			 <% if(shiro.hasPermission("jcda_ryxx:jcdaygxx:edit") ){ %>
			    <button id="edit" class="jp-btn" disabled onclick="edit()">
	            	<i class="glyphicon glyphicon-edit"></i> 修改
	        	</button>
			<% } %>
			 <% if(shiro.hasPermission("jcda_ryxx:jcdaygxx:del") ){ %>
				<button id="remove" class="jp-btn jp-btn-danger" disabled onclick="del()">
	            	<i class="glyphicon glyphicon-remove"></i> 删除
	        	</button>
			<% } %>
			<% if(shiro.hasPermission("jcda_ryxx:jcdaygxx:del") ){ %>
				<button id="dimission" class="jp-btn jp-btn-danger" disabled onclick="dimission()">
	            	<i class="glyphicon glyphicon-remove"></i> 离职
	        	</button>
			<% } %>
			<% if(shiro.hasPermission("jcda_ryxx:jcdaygxx:edit") ){ %>
			    <button id="edit" class="jp-btn" disabled onclick="reRegister();">
	            	<i class="glyphicon glyphicon-edit"></i> 重新注册
	        	</button>
			<% } %>
			<% if(shiro.hasPermission("jcda_ryxx:jcdaygxx:add") ){ %>
			<button id="register" class="jp-btn jp-btn-primary" disabled onclick="register()">
				<i class="glyphicon glyphicon-plus"></i> 照片注册
			</button>
			<% } %>
			 <% if(shiro.hasPermission("jcda_ryxx:jcdaygxx:import") ){ %>
				<button id="import"  class="jp-btn" >
					<i class="icon iconfont icon-Import"></i> 导入
				</button>
			<% } %>
			 <% if(shiro.hasPermission("jcda_ryxx:jcdaygxx:export") ){ %>
	        	<button id="export" class="jp-btn">
					<i class="icon iconfont icon-export"></i> 导出
				</button>
			 <% } %>
		    </div>
		
	<!-- 表格 -->
	<table id="jcdaygxxTable" class="table-bordered"   data-toolbar="#toolbar"></table>
	</div>
	<% include("syjgTreeList.js"){} %>
	<% include("jcdaygxxList.js"){} %>
	<% } %>