<%
layout("/include/_dialog.html"){
%>
	<script type="text/javascript">

		$(document).ready(function() {
					});

		function save() {
            var isValidate = jp.validateForm('#inputForm');//校验表单
            if(!isValidate){
                return false;
			}else{
                var index = jp.loading();
                jp.post("${ctx}/jcda_ygxx_view/jcdaYgxxView/save",$('#inputForm').serialize(),function(data){
                    if(data.success){
                        parent.refresh();
                        var dialogIndex = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                        parent.layer.close(dialogIndex);
                        jp.toastr_success(data.msg)

                    }else{
                        jp.toastr_error(data.msg);
                    }
                    jp.close(index);
                })
			}

        }
	</script>
<div class="white-box">
		<form id="inputForm"  method="post" class="form-horizontal">
		<input type="hidden" name="id" value="${jcdaYgxxView.id!}"/>
		<table class="table table-bordered">
		   <tbody>
				<tr>
					<td class="width-15 active"><label class="pull-right">员工编号：</label></td>
					<td class="width-35">
						<input name="code" value="${jcdaYgxxView.code!}"    class="jp-input "/>
				</td>
					<td class="width-15 active"><label class="pull-right">员工姓名：</label></td>
					<td class="width-35">
						<input name="name" value="${jcdaYgxxView.name!}"    class="jp-input "/>
				</td>
				</tr>
				<tr>
					<td class="width-15 active"><label class="pull-right">卡片编号：</label></td>
					<td class="width-35">
						<input name="cardno" value="${jcdaYgxxView.cardno!}"    class="jp-input "/>
				</td>
					<td class="width-15 active"></td>
		   			<td class="width-35" ></td>
		  		</tr>
		 	</tbody>
		</table>
		</form>
</div>
<% } %>