<%
layout("/include/_container.html",{title:"用户管理", parent:"单位组织"}){
%>

	<div class="row">
		<div class="col-sm-3 col-md-2" style="padding-right: 5px" >
			<div class="white-box">
				<span class="jp-input-search jp-input-affix-wrapper " style="margin-bottom: 5px;">
					<input id="search_q" placeholder="查找..." class="jp-input" type="text">
					<span class="jp-input-suffix">
						<i class="jp-icon jp-icon-search jp-input-search-icon"></i>
					</span>
				</span>
				<div id="jstree" style="overflow-x:auto; border:0px;"></div>
			</div>
		</div>
		<div  class="col-sm-9 col-md-10" style="padding-left: 0px">

			<!-- 文件上传 -->
			<div id="import-collapse" class="collapse white-box" style="position:relative; margin-bottom: 5px">
				<a class="jp-ti-close" onclick="$('#import-collapse').fadeToggle()">
					<i class="icon iconfont icon-guanbi"></i>
				</a>
				<form id="importForm" method="POST" enctype="multipart/form-data"
					  class="form form-horizontal clearfix" >
					<div class="col-xs-12 col-sm-6">
						<input name="file" type="file"  class="required jp-input" />只允许导入“xls”或“xlsx”格式文件！<br/>　

					</div>
					<div class="col-xs-12 col-sm-6">
						<a  id="btnImportExcel"  class="jp-btn jp-btn-primary"><i class="fa fa-upload"></i> 开始上传</a>
						<a  id="btnDownloadTpl" class="jp-btn" ><i class="fa fa-download"></i> 下载模板</a>
					</div>　
				</form>
			</div>

			<!-- 搜索框-->
			<div id="search-collapse" class="white-box collapse"  style="position:relative; margin-bottom: 5px">
				<a class="jp-ti-close" onclick="$('#search-collapse').fadeToggle()">
					<i class="icon iconfont icon-guanbi"></i>
				</a>
				<form id="searchForm" class="form form-horizontal clearfix" >
						<div class="col-xs-12 col-sm-6 col-md-4">
							<label class="label-item single-overflow pull-left" title="公司：">归属公司：</label>
							<#treeselect id="company" name="company.id"
										title="公司" url="/sys/office/treeData?type=1" allowClear="true"/>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<label class="label-item single-overflow pull-left" title="员工：">归属部门：</label>
							<#treeselect id="office" name="office.id"
								title="部门" url="/sys/office/treeData?type=2" class="jp-input" allowClear="true" notAllowSelectParent="true"/>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<label class="label-item single-overflow pull-left" title="登录名：">登录名：</label>
							<input type="text" name="loginName" maxlength="100"  class=" jp-input"/>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							<label class="label-item single-overflow pull-left" title="姓名：">姓名：</label>
							<input type="text" name="name" maxlength="100"  class=" jp-input"/>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4">
							 <div style="margin-top:26px">
								 <a  id="search" class="jp-btn jp-btn-primary"><i class="fa fa-search"></i> 查询</a>
								 <a  id="reset" class="jp-btn" ><i class="fa fa-refresh"></i> 重置</a>
							</div>
						</div>
					</form>
			</div>
			<!-- 搜索框结束 -->

			<div class="white-box">
				<!-- 工具栏 -->
				<div id="toolbar">

					<% if(shiro.hasPermission("sys:user:add")){ %>
						<button id="add" class="jp-btn jp-btn-primary"  onclick="jp.openSaveDialog('新建用户', '${ctx}/sys/user/form','800px', '680px')"><i class="fa fa-plus"></i> 新建</button>
					<% } %>
					<% if(shiro.hasPermission("sys:user:edit")){ %>
						<button id="edit" class="jp-btn" disabled onclick="edit()">
							<i class="fa fa-edit"></i> 修改
						</button>
					<% } %>
					<% if(shiro.hasPermission("sys:user:del")){ %>
						<button id="remove" class="jp-btn jp-btn-danger" disabled onclick="deleteAll()">
							<i class="fa fa-remove"></i> 删除
						</button>
					<% } %>
					<% if(shiro.hasPermission("sys:user:import")){ %>
						<button id="import" class="jp-btn"><i class="icon iconfont icon-Import"></i> 导入</button>
					<% } %>
					<% if(shiro.hasPermission("sys:user:export")){ %>
						<button id="export" class="jp-btn"><i class="icon iconfont icon-export"></i> 导出</button>
					<% } %>
				</div><!-- 工具栏结束 -->
				<!-- 表格 -->
				<table id="table"
					   data-toolbar="#toolbar">
				</table>
			</div>
		</div>
	</div>
<% include("userIndex.js"){} %>
<% } %>