<%
layout("/include/_dialog.html"){
%>
	<script type="text/javascript">

		$(document).ready(function() {
						});

		function save() {
            var isValidate = jp.validateForm('#inputForm');//校验表单
            if(!isValidate){
                return false;
			}else{
                var index = jp.loading();
                jp.post("${ctx}/scgl_rkyq_view/scglrkyqview/save",$('#inputForm').serialize(),function(data){
                    if(data.success){
                        parent.refresh();
                        var dialogIndex = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                        parent.layer.close(dialogIndex);
                        jp.toastr_success(data.msg)

                    }else{
                        jp.toastr_error(data.msg);
                    }
                    jp.close(index);
                })
			}

        }

	</script>
<div class="white-box">
		<form id="inputForm"  method="post" class="form-horizontal">
		<input type="hidden" name="id" value="${scglrkyqview.id!}"/>
		<table class="table table-bordered">
		   <tbody>
				<tr>
					<td class="width-15 active"><label class="pull-right">使用机构：</label></td>
					<td class="width-35">
						<#treeselect id="userorg" name="userorg.id" value="${scglrkyqview.userorg.id!}" labelName="userorg.name" labelValue="${scglrkyqview.userorg.name!}"
							title="部门" url="/sys/office/treeData?type=2" class="jp-input " allowClear="true" notAllowSelectParent="true"/>
				</td>
					<td class="width-15 active"><label class="pull-right">工号：</label></td>
					<td class="width-35">
						<#userselect id="code" name="code" value="${scglrkyqview.code!}" labelName="" labelValue="${scglrkyqview.!}"
							    class="jp-input "/>
				</td>
				</tr>
				<tr>
					<td class="width-15 active"><label class="pull-right">姓名：</label></td>
					<td class="width-35">
						<input name="name.id" value="${scglrkyqview.name.id!}"    class="jp-input "/>
				</td>
					<td class="width-15 active"><label class="pull-right">进时间：</label></td>
					<td class="width-35">
						<input name="indate" value="${scglrkyqview.indate!}"    class="jp-input "/>
				</td>
				</tr>
				<tr>
					<td class="width-15 active"><label class="pull-right">出时间：</label></td>
					<td class="width-35">
						<input name="outdate" value="${scglrkyqview.outdate!}"    class="jp-input "/>
				</td>
					<td class="width-15 active"></td>
		   			<td class="width-35" ></td>
		  		</tr>
		 	</tbody>
		</table>
		<div class="tabs-container">
            <ul class="nav customtab nav-tabs" role="tablist">
            </ul>
            <div class="tab-content">
		</div>
		</div>
		</form>
</div>
<% } %>