<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jcda_sbgl_view.mapper.JcdaSbglViewMapper">
    
	<sql id="jcdaSbglViewColumns">
		a.id AS "id",
		a.name AS "name"
	</sql>
	
	<sql id="jcdaSbglViewJoins">
		
	</sql>
	
    
	<select id="get" resultType="JcdaSbglView" >
		SELECT 
			<include refid="jcdaSbglViewColumns"/>
		FROM jcda_sbgl_view a
		<include refid="jcdaSbglViewJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="JcdaSbglView" >
		SELECT 
			<include refid="jcdaSbglViewColumns"/>
		FROM jcda_sbgl_view a
		<include refid="jcdaSbglViewJoins"/>
		<where>
			
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="_databaseId == 'oracle'">'%'||#{name}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{name}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{name},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="JcdaSbglView" >
		SELECT 
			<include refid="jcdaSbglViewColumns"/>
		FROM jcda_sbgl_view a
		<include refid="jcdaSbglViewJoins"/>
		<where>
			
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO jcda_sbgl_view(
			id,
			name
		) VALUES (
			#{id},
			#{name}
		)
	</insert>
	
	<update id="update">
		UPDATE jcda_sbgl_view SET 	
			name = #{name}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM jcda_sbgl_view
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE jcda_sbgl_view SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="JcdaSbglView" statementType="STATEMENT">
		select * FROM jcda_sbgl_view  where ${propertyName} = '${value}'
	</select>
	
</mapper>