<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jcda_ryxx.mapper.JcdaygxxMapper">
    
	<sql id="jcdaygxxColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.jg_id AS "jg.id",
		a.code AS "code",
		a.name AS "name",
		a.regcode AS "regcode",
		a.cardno AS "cardno",
		a.enterdate AS "enterdate",
		a.sex AS "sex",
		a.national AS "national.id",
		a.certificate AS "certificate",
		a.telephone AS "telephone",
		a.personstate AS "personstate",
		a.birthdate AS "birthdate",
		a.position AS "position",
		a.worktpye AS "worktpye",
		a.photo AS "photo",
		a.remark AS "remark",
		a.address AS "address",
		a.shift AS "shift",
		a.weekday AS "weekday",
		a.attpassword AS "attpassword",
		a.attpasswordconf AS "attpasswordconf",
		a.regtype AS "regtype",
		a.regpersonal AS "regpersonal",
		a.zdy1 AS "sb.id",
		a.zdy2 AS "zdy2",
		a.zdy3 AS "zdy3",
		a.zdy4 AS "zdy4",
		a.zdy5 AS "zdy5",
		a.zdy6 AS "zdy6",
		a.zdy7 AS "zdy7",
		a.zdy8 AS "zdy8",
		a.zdy9 AS "zdy9",
		a.zdy10 AS "zdy10",
		b.name AS "jg.name",
		sb.name AS "sb.name",
		national.name AS "national.name"
	</sql>
	
	<sql id="jcdaygxxJoins">
		LEFT JOIN sys_office b ON b.id = a.jg_id
		LEFT JOIN jcda_national national ON national.id = a.national
		LEFT JOIN jcda_sbgl_view sb ON sb.id = a.zdy1
	</sql>
	
    
	<select id="get" resultType="Jcdaygxx" >
		SELECT 
			<include refid="jcdaygxxColumns"/>
		FROM jcda_ygxx a
		<include refid="jcdaygxxJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Jcdaygxx" >
		SELECT 
			<include refid="jcdaygxxColumns"/>
		FROM jcda_ygxx a
		<include refid="jcdaygxxJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
                    <if test="jg != null  and jg.id != null and jg.id != ''">
                        AND (b.id = #{jg.id} OR b.parent_ids LIKE
                        <if test="_databaseId == 'oracle'">'%,'||#{jg.id}||',%')</if>
                        <if test="_databaseId == 'mysql'">CONCAT('%,', #{jg.id}, ',%'))</if>
                        <if test="_databaseId == 'mssql'">'%'+#{jg.id}+'%')</if>
                    </if>
            <if test="zdy5 != null and zdy5 != ''">
				AND a.zdy5 = #{zdy5}
			</if>
			<if test="code != null and code != ''">
				AND a.code LIKE 
					<if test="_databaseId == 'oracle'">'%'||#{code}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{code}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{code},'%')</if>
			</if>
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="_databaseId == 'oracle'">'%'||#{name}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{name}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="regcode != null and regcode != ''">
				AND a.regcode LIKE 
					<if test="_databaseId == 'oracle'">'%'||#{regcode}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{regcode}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{regcode},'%')</if>
			</if>
			<if test="cardno != null and cardno != ''">
				AND a.cardno LIKE 
					<if test="_databaseId == 'oracle'">'%'||#{cardno}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{cardno}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{cardno},'%')</if>
			</if>
			<if test="beginEnterdate != null and endEnterdate != null ">
				AND a.enterdate BETWEEN #{beginEnterdate} AND #{endEnterdate}
			</if>
			<if test="sb != null and sb.id != null and sb.id != ''">
				AND a.zdy1 = #{sb.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Jcdaygxx" >
		SELECT 
			<include refid="jcdaygxxColumns"/>
		FROM jcda_ygxx a
		<include refid="jcdaygxxJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>


	<insert id="insert">
		INSERT INTO jcda_ygxx(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			jg_id,
			code,
			name,
			regcode,
			cardno,
			enterdate,
			sex,
			national,
			certificate,
			telephone,
			personstate,
			birthdate,
			position,
			worktpye,
			photo,
			remark,
			address,
			shift,
			weekday,
			attpassword,
			attpasswordconf,
			regtype,
			regpersonal,
			zdy1,
			zdy2,
			zdy3,
			zdy4,
			zdy5,
			zdy6,
			zdy7,
			zdy8,
			zdy9,
			zdy10
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{jg.id},
			#{code},
			#{name},
			#{regcode},
			#{cardno},
			#{enterdate},
			#{sex},
			#{national.id},
			#{certificate},
			#{telephone},
			#{personstate},
			#{birthdate},
			#{position},
			#{worktpye},
			#{photo},
			#{remark},
			#{address},
			#{shift},
			#{weekday},
			#{attpassword},
			#{attpasswordconf},
			#{regtype},
			#{regpersonal},
			#{sb.id},
			#{zdy2},
			#{zdy3},
			#{zdy4},
			#{zdy5},
			#{zdy6},
			#{zdy7},
			#{zdy8},
			#{zdy9},
			#{zdy10}
		)
	</insert>

	<update id="update">
		UPDATE jcda_ygxx SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			jg_id = #{jg.id},
			code = #{code},
			name = #{name},
			regcode = #{regcode},
			cardno = #{cardno},
			enterdate = #{enterdate},
			sex = #{sex},
			national = #{national.id},
			certificate = #{certificate},
			telephone = #{telephone},
			personstate = #{personstate},
			birthdate = #{birthdate},
			position = #{position},
			worktpye = #{worktpye},
			photo = #{photo},
			remark = #{remark},
			address = #{address},
			shift = #{shift},
			weekday = #{weekday},
			attpassword = #{attpassword},
			attpasswordconf = #{attpasswordconf},
			regtype = #{regtype},
			regpersonal = #{regpersonal},
			zdy1 = #{sb.id},
			zdy2 = #{zdy2},
			zdy3 = #{zdy3},
			zdy4 = #{zdy4},
			zdy5 = #{zdy5},
			zdy6 = #{zdy6},
			zdy7 = #{zdy7},
			zdy8 = #{zdy8},
			zdy9 = #{zdy9},
			zdy10 = #{zdy10}
		WHERE id = #{id}
	</update>

	<update id="updateYgxxState">
		UPDATE jcda_ygxx SET zdy5 = 0 WHERE id = #{id}
	</update>
	<!--物理删除-->
	<update id="delete">
		DELETE FROM jcda_ygxx
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE jg_id = #{jg.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE jcda_ygxx SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE jg_id = #{jg.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Jcdaygxx" statementType="STATEMENT">
		select * FROM jcda_ygxx  where ${propertyName} = '${value}'
	</select>
	
</mapper>