<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" type="image/png" sizes="16x16" href="${ctxStatic}/plugins/images/favicon.png">
	<title>${status!}页面</title>
	<!-- Bootstrap Core CSS -->
	<link href="${ctxStatic}/common/dist/core.css" rel="stylesheet">
	<!-- color CSS -->
	<link href="${ctxStatic}/common/css/colors/${fn.getCookie(request,'theme') == null?fn.getDefaultTheme():fn.getCookie(request,'theme')}.css" id="theme" rel="stylesheet">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

</head>
<body>
<!-- Preloader -->

<section id="wrapper" class="error-page">
	<div class="error-box">
		<div class="error-body text-center">
			<h1 class="text-danger">${status!}</h1>
			<h3 class="text-muted">${errorMessage!}</h3>
			<p class="text-muted m-t-30 m-b-30">出现此错误页面，请联系管理员</p>
			<a href="${ctx}/" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40" data-pjax>返回主页</a>
			<a href="javascript:history.go(-1)" class="btn btn-danger btn-rounded waves-effect waves-light m-b-40" data-pjax>返回上一步</a>
		</div>
		<footer class="footer text-center">2017 © Jeeplus.</footer>
	</div>
</section>


<script src="${ctxStatic}/common/dist/core.js"></script>

</body>
</html>