<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.scgl_jftx.mapper.ScgljftxMapper">
    
	<sql id="scgljftxColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.userorg AS "userorg.id",
		a.sbmc AS "sbmc",
		a.dqdate AS "dqdate"
	</sql>
	
	<sql id="scgljftxJoins">
		
	</sql>
	
    
	<select id="get" resultType="Scgljftx" >
		SELECT 
			<include refid="scgljftxColumns"/>
		FROM scgl_jftx a
		<include refid="scgljftxJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Scgljftx" >
		SELECT 
			<include refid="scgljftxColumns"/>
		FROM scgl_jftx a
		<include refid="scgljftxJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
			<if test="userorg != null and userorg.id != null and userorg.id != ''">
				AND a.userorg = #{userorg.id}
			</if>
			<if test="beginDqdate != null and endDqdate != null ">
				AND a.dqdate BETWEEN #{beginDqdate} AND #{endDqdate}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Scgljftx" >
		SELECT 
			<include refid="scgljftxColumns"/>
		FROM scgl_jftx a
		<include refid="scgljftxJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO scgl_jftx(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			userorg,
			sbmc,
			dqdate
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{userorg.id},
			#{sbmc},
			#{dqdate}
		)
	</insert>
	
	<update id="update">
		UPDATE scgl_jftx SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			userorg = #{userorg.id},
			sbmc = #{sbmc},
			dqdate = #{dqdate}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM scgl_jftx
		WHERE id = #{id}
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE scgl_jftx SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Scgljftx" statementType="STATEMENT">
		select * FROM scgl_jftx  where ${propertyName} = '${value}'
	</select>
	
</mapper>