<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jcda_sbyhxx.mapper.JcdasbyhxxMapper">
    
	<sql id="jcdasbyhxxColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.remarks AS "remarks",
		a.del_flag AS "delFlag",
		a.sb_id AS "sb.id",
		b.sbxlh AS "sbxlh",
		a.code AS "code",
		a.name AS "name",
		a.tzm AS "tzm",
		a.zt AS "zt",
		a.zdy1 AS "zdy1",
		a.zdy2 AS "zdy2",
		a.zdy3 AS "zdy3",
		a.zdy4 AS "zdy4",
		a.zdy5 AS "zdy5",
		a.zdy6 AS "zdy6",
		a.zdy7 AS "zdy7",
		a.zdy8 AS "zdy8",
		a.zdy9 AS "zdy9",
		a.zdy10 AS "zdy10",
		b.name AS "sb.name"
	</sql>
	
	<sql id="jcdasbyhxxJoins">
			LEFT JOIN jcda_sbmc_view b ON b.id = a.sb_id
	</sql>
	
    
	<select id="get" resultType="Jcdasbyhxx" >
		SELECT 
			<include refid="jcdasbyhxxColumns"/>
		FROM jcda_sbyhxx a
		<include refid="jcdasbyhxxJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="Jcdasbyhxx" >
		SELECT 
			<include refid="jcdasbyhxxColumns"/>
		FROM jcda_sbyhxx a
		<include refid="jcdasbyhxxJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
                    <if test="sb != null  and sb.id != null and sb.id != ''">
                        AND (b.id = #{sb.id} OR b.parent_ids LIKE
                        <if test="_databaseId == 'oracle'">'%,'||#{sb.id}||',%')</if>
                        <if test="_databaseId == 'mysql'">CONCAT('%,', #{sb.id}, ',%'))</if>
                        <if test="_databaseId == 'mssql'">'%'+#{sb.id}+'%')</if>
                    </if>
			<if test="sbxlh != null and sbxlh != ''">
				AND b.sbxlh LIKE 
					<if test="_databaseId == 'oracle'">'%'||#{sbxlh}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{sbxlh}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{sbxlh},'%')</if>
			</if>
			<if test="code != null and code != ''">
				AND a.code LIKE 
					<if test="_databaseId == 'oracle'">'%'||#{code}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{code}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{code},'%')</if>
			</if>
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="_databaseId == 'oracle'">'%'||#{name}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{name}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{name},'%')</if>
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<select id="findAllList" resultType="Jcdasbyhxx" >
		SELECT 
			<include refid="jcdasbyhxxColumns"/>
		FROM jcda_sbyhxx a
		<include refid="jcdasbyhxxJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			${dataScope}
		</where>		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.create_date ASC
			</otherwise>
		</choose>
	</select>
	
	<insert id="insert">
		INSERT INTO jcda_sbyhxx(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			remarks,
			del_flag,
			sb_id,
			sbxlh,
			code,
			name,
			tzm,
			zt,
			zdy1,
			zdy2,
			zdy3,
			zdy4,
			zdy5,
			zdy6,
			zdy7,
			zdy8,
			zdy9,
			zdy10
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{remarks},
			#{delFlag},
			#{sb.id},
			#{sbxlh},
			#{code},
			#{name},
			#{tzm},
			#{zt},
			#{zdy1},
			#{zdy2},
			#{zdy3},
			#{zdy4},
			#{zdy5},
			#{zdy6},
			#{zdy7},
			#{zdy8},
			#{zdy9},
			#{zdy10}
		)
	</insert>
	
	<update id="update">
		UPDATE jcda_sbyhxx SET 	
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			remarks = #{remarks},
			sb_id = #{sb.id},
			sbxlh = #{sbxlh},
			code = #{code},
			name = #{name},
			tzm = #{tzm},
			zt = #{zt},
			zdy1 = #{zdy1},
			zdy2 = #{zdy2},
			zdy3 = #{zdy3},
			zdy4 = #{zdy4},
			zdy5 = #{zdy5},
			zdy6 = #{zdy6},
			zdy7 = #{zdy7},
			zdy8 = #{zdy8},
			zdy9 = #{zdy9},
			zdy10 = #{zdy10}
		WHERE id = #{id}
	</update>
	
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM jcda_sbyhxx
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE sb_id = #{sb.id}
			</otherwise>
		</choose>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE jcda_sbyhxx SET 
			del_flag = #{DEL_FLAG_DELETE}
		<choose>
			<when test="id !=null and id != ''">
				WHERE id = #{id}
			</when>
			<otherwise>
				WHERE sb_id = #{sb.id}
			</otherwise>
		</choose>
	</update>
	
	
	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="Jcdasbyhxx" statementType="STATEMENT">
		select * FROM jcda_sbyhxx  where ${propertyName} = '${value}'
	</select>
	
</mapper>