<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.jcda_sbkqxx.mapper.JcdaSbmcView1Mapper">

    <resultMap id="jcdaSbmcView1Result" type="JcdaSbmcView1">
   		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="sort" column="sort" />
		<result property="parentIds" column="parentIds" />
		<result property="code" column="code" />
		<result property="ip" column="ip" />
		<association property="hasChildren" column="id" select="hasChildren" />
    </resultMap>
    
	<sql id="jcdaSbmcView1Columns">
		a.id AS "id",
		a.code AS "code",
		a.name AS "name",
		a.ip AS "ip",
		a.parent_id AS "parent.id",
		a.parent_ids AS "parentIds",
		a.sort AS "sort"
	</sql>
	

	

	<sql id="jcdaSbmcView1Joins">
		
	</sql>
	

    
	<select id="get" resultType="JcdaSbmcView1">
		SELECT 
			<include refid="jcdaSbmcView1Columns"/>
		FROM jcda_sbmc_view a
		<include refid="jcdaSbmcView1Joins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="JcdaSbmcView1">
		SELECT 
			<include refid="jcdaSbmcView1Columns"/>
		FROM jcda_sbmc_view a
		<include refid="jcdaSbmcView1Joins"/>
		<where>
			
			${dataScope}
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="_databaseId == 'oracle'">'%'||#{name}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{name}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="parent != null and parent.id != null and parent.id != ''">
				AND a.parent_id = #{parent.id}
			</if>
			<if test="parentIds != null and parentIds != ''">
				AND a.parent_ids LIKE 
					<if test="_databaseId == 'oracle'">'%'||#{parentIds}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{parentIds}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{parentIds},'%')</if>
			</if>
		</where>
		ORDER BY a.sort ASC
	</select>
	
	<select id="findAllList" resultType="JcdaSbmcView1">
		SELECT 
			<include refid="jcdaSbmcView1Columns"/>
		FROM jcda_sbmc_view a
		<include refid="jcdaSbmcView1Joins"/>
		<where>
			
			${dataScope}
		</where>
		ORDER BY a.sort ASC
	</select>
	
	<select id="getChildren" parameterType="String" resultMap="jcdaSbmcView1Result">  
        select * from jcda_sbmc_view where parent_id = #{id} ORDER BY sort 
    </select> 
     
    <select id="hasChildren" parameterType="String" resultType="Boolean">  
        select case when exists(select 1 from jcda_sbmc_view where parent_id = #{id}) then 1 else 0 end <if test="_databaseId == 'oracle'"> from dual </if>
    </select>
    
	<select id="findByParentIdsLike" resultType="JcdaSbmcView1">
		SELECT
			a.id,
			a.parent_id AS "parent.id",
			a.parent_ids
		FROM jcda_sbmc_view a
		<include refid="jcdaSbmcView1Joins"/>
		<where>
			
			AND a.parent_ids LIKE #{parentIds}
		</where>
		ORDER BY a.sort ASC
	</select>
	
	<insert id="insert">
		INSERT INTO jcda_sbmc_view(
			id,
			code,
			name,
			ip,
			parent_id,
			parent_ids,
			sort
		) VALUES (
			#{id},
			#{code},
			#{name},
			#{ip},
			#{parent.id},
			#{parentIds},
			#{sort}
		)
	</insert>
	
	<update id="update">
		UPDATE jcda_sbmc_view SET 	
			code = #{code},
			name = #{name},
			ip = #{ip},
			parent_id = #{parent.id},
			parent_ids = #{parentIds},
			sort = #{sort}
		WHERE id = #{id}
	</update>
	
	<update id="updateParentIds">
		UPDATE jcda_sbmc_view SET 
			parent_id = #{parent.id}, 
			parent_ids = #{parentIds}
		WHERE id = #{id}
	</update>
	
	<!--物理删除-->
	<update id="delete">
		DELETE FROM jcda_sbmc_view
		WHERE id = #{id} OR parent_ids LIKE 
		<if test="_databaseId == 'oracle'">'%,'||#{id}||',%'</if>
		<if test="_databaseId == 'mssql'">'%,'+#{id}+',%'</if>
        <if test="_databaseId == 'mysql'">CONCAT('%,', #{id}, ',%')</if>
	</update>
	
	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE jcda_sbmc_view SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id} OR parent_ids LIKE 
		<if test="_databaseId == 'oracle'">'%,'||#{id}||',%'</if>
		<if test="_databaseId == 'mssql'">'%,'+#{id}+',%'</if>
        <if test="_databaseId == 'mysql'">CONCAT('%,', #{id}, ',%')</if>
	</update>
	
</mapper>